.auth-container {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #bbf7d0, #86efac);
}

.auth-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #166534;
}

.auth-card form {
  display: flex;
  flex-direction: column;
}

.auth-card input {
  margin-bottom: 15px;
  padding: 10px 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-card input:focus {
  outline: none;
  border-color: #22c55e;
}

.auth-card button {
  background-color: #16a34a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.auth-card button:hover {
  background-color: #15803d;
}

.auth-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.auth-footer a {
  color: #166534;
  text-decoration: none;
  font-weight: bold;
}
.password-field {
  position: relative;
}

.toggle-eye {
  position: absolute;
  right: 12px;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 30px;
  color: #166534;
  user-select: none;
}
.login-bg {
  background: url("../assets/herbbgtr2.png") no-repeat center center;
  background-size: cover;
}
.signup-bg {
  background: url("../assets/mist2.gif") no-repeat center center;
  background-size: cover;
}