.flowGreen {
  background: linear-gradient(90deg, #6aff6c, #00ff66, #ffffff);
  background-size: 200% auto;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: flowRightToLeft 1.5s linear infinite;
}

@keyframes flowRightToLeft {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0% center;
  }
}