* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 60px;
  background-color: #2bb652;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.nav-links a:hover {
  color: #030506;
}
.logout-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  color: #f87171;
}
.logo-img {
  height: 40px;          /* keep inside navbar */
  width: auto;           /* maintain aspect ratio */
  object-fit: contain;
  cursor: pointer;
}
